{"swagger":"2.0","info":{"version":"1.0.0","title":"SpotX Publisher API"},"host":"belfast.lod.api.spotxchange.com","basePath":"/1.0","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/publishers":{"get":{"description":"Get a list of `Publisher` objects you are authorized to see\n","responses":{"200":{"description":"Successful response","schema":{"title":"ArrayOfPublishers","type":"array","items":{"$ref":"#/definitions/Publisher_r"}}},"404":{"description":"Not Found"}}}},"/publishers({publisher_id})":{"get":{"description":"Get a specific `Publisher`\n","parameters":[{"name":"publisher_id","in":"path","required":true,"description":"The id of the publisher","type":"string"}],"responses":{"200":{"description":"Successful Response"}}}},"/publishers({publisher_id})/channels":{"get":{"description":"Get a list of `Channel` objects for a specific `Publisher`\n","parameters":[{"name":"publisher_id","in":"path","required":true,"description":"The id of the publisher","type":"string"}],"responses":{"200":{"description":"Successful Response","schema":{"$ref":"#/definitions/Channel_r"}}}},"post":{"description":"Create a `Channel`\n","parameters":[{"name":"publisher_id","in":"path","required":true,"description":"The id of the publisher","type":"string"}],"responses":[{"name":"channel","in":"body","description":"Channel to add","required":true,"schema":{"$ref":"#/definitions/Channel_w"}}]}}},"definitions":{"Publisher_r":{"properties":{"@odata.id":{"type":"string"},"@odata.editLink":{"type":"string"},"type":{"type":"integer","format":"int32"},"name":{"type":"string"},"email":{"type":"string"}}},"Channel_r":{"properties":{"@odata.id":{"type":"string"},"@odata.editLink":{"type":"string"},"name":{"type":"string"},"ad_max_duration":{"type":"integer","format":"int32"},"price_floor_usd":{"type":"integer","format":"int32"},"has_compainion_banners":{"type":"boolean"},"companion_banner_size":{"type":"string"},"play_position":{"type":"string","enum":["pre","mid","post"]},"enabled":{"type":"boolean"}}},"Channel_w":{"required":["name","ad_max_duration","price_floor_usd","has_companion_banners"],"properties":{"name":{"type":"string"},"ad_max_duration":{"type":"integer","format":"int32"},"price_floor_usd":{"type":"integer","format":"int32"},"has_companion_banners":{"type":"boolean"},"companion_banner_size":{"type":"string"},"play_position":{"type":"string","enum":["pre","mid","post"]}}}}}
